/* custom.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    flex: 1;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
}
